*.o
.*.swp
.*.swo
stamp-*
*-stamp

INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
ChangeLog
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.ac
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
.deps
.dirstamp

po/.intltool-merge-cache
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/*.gmo

xfce4-notifyd-config/xfce4-notifyd-config
xfce4-notifyd-config/xfce4-notifyd-config.desktop
xfce4-notifyd-config/xfce4-notifyd-config.ui.h

xfce4-notifyd/notify-dbus.h
xfce4-notifyd/org.xfce.xfce4-notifyd.Notifications.service
xfce4-notifyd/xfce-notify-enum-types.c
xfce4-notifyd/xfce-notify-enum-types.h
xfce4-notifyd/xfce-notify-marshal.c
xfce4-notifyd/xfce-notify-marshal.h
xfce4-notifyd/xfce-notify-gbus.c
xfce4-notifyd/xfce-notify-gbus.h
xfce4-notifyd/xfce4-notifyd.service
xfce4-notifyd/xfce4-notifyd

tests/test-actions
tests/test-positioning
tests/test-text
test/test-icons

m4/
panel-plugin/.libs/
panel-plugin/libnotification-plugin.la
panel-plugin/libnotification_plugin_la-notification-plugin-dialogs.lo
panel-plugin/libnotification_plugin_la-notification-plugin-log.lo
panel-plugin/libnotification_plugin_la-notification-plugin.lo
panel-plugin/notification-plugin.desktop
