*.o
.*.swp
.*.swo
stamp-*
*-stamp

INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
configure.ac
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
missing
mkinstalldirs
.deps
.dirstamp

po/.intltool-merge-cache
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/*.gmo

xfce4-notifyd-config/xfce4-notifyd-config
xfce4-notifyd-config/xfce4-notifyd-config.desktop
xfce4-notifyd-config/xfce4-notifyd-config.glade.h

xfce4-notifyd/notify-dbus.h
xfce4-notifyd/org.freedesktop.Notifications.service
xfce4-notifyd/xfce-notify-enum-types.c
xfce4-notifyd/xfce-notify-enum-types.h
xfce4-notifyd/xfce-notify-marshal.c
xfce4-notifyd/xfce-notify-marshal.h
xfce4-notifyd/xfce4-notifyd
